*.h5
*.nc
*.png
*.tiff
/Scripts e Dados/shp
/Scripts e Dados/1 - Organized data gauge
/Scripts e Dados/5 - Results
/Scripts e Dados/figures
Hidroweb/Figures/ANA_stations_1859.jpeg
Hidroweb/Docs/data_station_by_state.xlsx
Hidroweb/Docs/XXV SBRH/xxvsbrh_hidroweb.pdf
Hidroweb/Docs/XXV SBRH/xxvsbrh_hidroweb.pptx
Hidroweb/Docs/XXV SBRH/Old/2023.06.12_A história do monitoramento no Brasil.docx
Hidroweb/Docs/XXV SBRH/Old/A história do monitoramento no Brasil (Jun.05.2023).docx
Hidroweb/Figures/ANA_stations_1867.jpeg
Hidroweb/Figures/ANA_stations_1870.jpeg
Hidroweb/Figures/ANA_stations_1872.jpeg
Hidroweb/Figures/ANA_stations_1874.jpeg
Hidroweb/Figures/ANA_stations_1875.jpeg
Hidroweb/Figures/ANA_stations_1877.jpeg
Hidroweb/Figures/ANA_stations_1878.jpeg
Hidroweb/Figures/ANA_stations_1881.jpeg
Hidroweb/Figures/ANA_stations_1884.jpeg
Hidroweb/Figures/ANA_stations_1885.jpeg
Hidroweb/Figures/ANA_stations_1887.jpeg
Hidroweb/Figures/ANA_stations_1891.jpeg
Hidroweb/Figures/ANA_stations_1893.jpeg
Hidroweb/Figures/ANA_stations_1894.jpeg
Hidroweb/Figures/ANA_stations_1895.jpeg
Hidroweb/Figures/ANA_stations_1899.jpeg
Hidroweb/Figures/ANA_stations_1902.jpeg
Hidroweb/Figures/ANA_stations_1906.jpeg
Hidroweb/Figures/ANA_stations_1907.jpeg
Hidroweb/Figures/ANA_stations_1908.jpeg
Hidroweb/Figures/ANA_stations_1911.jpeg
Hidroweb/Figures/ANA_stations_1912.jpeg
Hidroweb/Figures/ANA_stations_1913.jpeg
Hidroweb/Figures/ANA_stations_1914.jpeg
Hidroweb/Figures/ANA_stations_1919.jpeg
Hidroweb/Figures/ANA_stations_1922.jpeg
Hidroweb/Figures/ANA_stations_1924.jpeg
Hidroweb/Figures/ANA_stations_1929.jpeg
Hidroweb/Figures/ANA_stations_1930.jpeg
Hidroweb/Figures/ANA_stations_1931.jpeg
Hidroweb/Figures/ANA_stations_1935.jpeg
Hidroweb/Figures/ANA_stations_1940.jpeg
Hidroweb/Figures/ANA_stations_1943.jpeg
Hidroweb/Figures/ANA_stations_1945.jpeg
Hidroweb/Figures/ANA_stations_1946.jpeg
Hidroweb/Figures/ANA_stations_1947.jpeg
Hidroweb/Figures/ANA_stations_1948.jpeg
Hidroweb/Figures/ANA_stations_1949.jpeg
Hidroweb/Figures/ANA_stations_1953.jpeg
Hidroweb/Figures/ANA_stations_1966.jpeg
Hidroweb/Figures/ANA_stations_1971.jpeg
Hidroweb/Figures/ANA_stations_1974.jpeg
Hidroweb/Figures/ANA_stations_1975.jpeg
Hidroweb/Figures/ANA_stations_1976.jpeg
Hidroweb/Figures/ANA_stations_1981.jpeg
Hidroweb/Figures/ANA_stations_1982.jpeg
Hidroweb/Figures/ANA_stations_1992.jpeg
Hidroweb/Figures/ANA_stations_1995.jpeg
Hidroweb/Figures/ANA_stations_1998.jpeg
Hidroweb/Figures/ANA_stations_2000.jpeg
Hidroweb/Figures/ANA_stations_2004.jpeg
Hidroweb/Figures/ANA_stations_2006.jpeg
Hidroweb/Figures/ANA_stations_2007.jpeg
Hidroweb/Figures/ANA_stations_2011.jpeg
Hidroweb/Figures/ANA_stations_2015.jpeg
Hidroweb/Figures/ANA_stations_2019.jpeg
Hidroweb/Figures/ANA_stations_2020.jpeg
Hidroweb/Figures/ANA_stations_count_by_state_1961_2020.jpeg
Hidroweb/Figures/ANA_stations_density_by_state.jpeg
Hidroweb/Figures/ANA_stations_error.jpeg
Hidroweb/Figures/ANA_stations_geobr_pt.jpeg
Hidroweb/Figures/ANA_stations_geobr.jpeg
Hidroweb/Figures/average_q1_by_month.jpeg
Hidroweb/Figures/average_q1_by_year.jpeg
Hidroweb/Figures/average_q2_by_month.jpeg
Hidroweb/Figures/average_q2_by_year.jpeg
Hidroweb/Figures/average_q4_by_month.jpeg
Hidroweb/Figures/average_q4_by_year.jpeg
Hidroweb/Figures/average_quality_index_by_state_by_month.jpeg
Hidroweb/Figures/bias_climate_normal_vs_gridded_data_agg_months_1961_1990.jpeg
Hidroweb/Figures/climate_normal_R_stations_1961_1990.jpeg
Hidroweb/Figures/climate_normal_vs_gridded_data_agg_months_1961_1990.jpeg
Hidroweb/Figures/coordinates_test.jpeg
Hidroweb/Figures/cross_validation_bias_state.jpeg
Hidroweb/Figures/cross_validation_Bias.jpeg
Hidroweb/Figures/cross_validation_cre_state.jpeg
Hidroweb/Figures/cross_validation_pearson_state.jpeg
Hidroweb/Figures/cross_validation_R_calendar.jpeg
Hidroweb/Figures/cross_validation_rmse_gauges.jpeg
Hidroweb/Figures/cross_validation_rmse_state.jpeg
Hidroweb/Figures/cross_validation_scatter_1961-01-01_2dhist.jpeg
Hidroweb/Figures/cross_validation_scatter_2001-01-01_2dhist.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_1961_1971.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_1971_1980.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_1971-01-01.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_1991_2000.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_1991-01-01.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_2001-01-01.jpeg
Hidroweb/Figures/nearest_neighbor_gauges_2011-01-01.jpeg
Hidroweb/Figures/p_completeness_ACRE_by_month.jpeg
Hidroweb/Figures/p_completeness_BAHIA_by_month.jpeg
Hidroweb/Figures/p_completeness_DISTRITO FEDERAL_by_month.jpeg
Hidroweb/Figures/p_completeness_MATO GROSSO DO SUL_by_month.jpeg
Hidroweb/Figures/p_completeness_MATO GROSSO_by_month.jpeg
Hidroweb/Figures/p_completeness_MINAS GERAIS_by_month.jpeg
Hidroweb/Figures/p_completeness_PARAÍBA_by_month.jpeg
Hidroweb/Figures/p_completeness_PARANÁ_by_month.jpeg
Hidroweb/Figures/p_completeness_RIO GRANDE DO SUL_by_month.jpeg
Hidroweb/Figures/p_completeness_RONDÔNIA_by_month.jpeg
Hidroweb/Figures/p_completeness_SANTA CATARINA_by_month.jpeg
Hidroweb/Figures/p_completeness_SERGIPE_by_month.jpeg
Hidroweb/Figures/pearson_climate_normal_vs_gridded_data_agg_months_1991_2020.jpeg
Hidroweb/Figures/q1_gaps_AMAZONAS_by_month.jpeg
Hidroweb/Figures/q1_gaps_BAHIA_by_month.jpeg
Hidroweb/Figures/q1_gaps_ESPÍRITO SANTO_by_month.jpeg
Hidroweb/Figures/q1_gaps_MATO GROSSO_by_month.jpeg
Hidroweb/Figures/q1_gaps_MINAS GERAIS_by_month.jpeg
Hidroweb/Figures/q1_gaps_RIO GRANDE DO SUL_by_month.jpeg
Hidroweb/Figures/q1_gaps_SÃO PAULO_by_month.jpeg
Hidroweb/Figures/q1_gaps_SERGIPE_by_month.jpeg
Hidroweb/Figures/q2_wd_BAHIA_by_month.jpeg
Hidroweb/Figures/q2_wd_CEARÁ_by_month.jpeg
Hidroweb/Figures/q2_wd_ESPÍRITO SANTO_by_month.jpeg
Hidroweb/Figures/q2_wd_GOIÁS_by_month.jpeg
Hidroweb/Figures/q2_wd_MATO GROSSO DO SUL_by_month.jpeg
Hidroweb/Figures/q2_wd_MATO GROSSO_by_month.jpeg
Hidroweb/Figures/q2_wd_PARÁ_by_month.jpeg
Hidroweb/Figures/q2_wd_PARAÍBA_by_month.jpeg
Hidroweb/Figures/q2_wd_PIAUÍ_by_month.jpeg
Hidroweb/Figures/q2_wd_RIO GRANDE DO NORTE_by_month.jpeg
Hidroweb/Figures/q2_wd_RIO GRANDE DO SUL_by_month.jpeg
Hidroweb/Figures/q2_wd_SÃO PAULO_by_month.jpeg
Hidroweb/Figures/q2_wd_TOCANTINS_by_month.jpeg
Hidroweb/Figures/q3_outlier_AMAPÁ_by_month.jpeg
Hidroweb/Figures/q3_outlier_AMAZONAS_by_month.jpeg
Hidroweb/Figures/q3_outlier_BAHIA_by_month.jpeg
Hidroweb/Figures/q3_outlier_CEARÁ_by_month.jpeg
Hidroweb/Figures/q3_outlier_ESPÍRITO SANTO_by_month.jpeg
Hidroweb/Figures/q3_outlier_GOIÁS_by_month.jpeg
Hidroweb/Figures/q3_outlier_PIAUÍ_by_month.jpeg
Hidroweb/Figures/q3_outlier_RIO GRANDE DO NORTE_by_month.jpeg
Hidroweb/Figures/q3_outlier_RIO GRANDE DO SUL_by_month.jpeg
Hidroweb/Figures/q3_outlier_SANTA CATARINA_by_month.jpeg
Hidroweb/Figures/q4_repetition_AMAPÁ_by_month.jpeg
Hidroweb/Figures/rainfall_event_frequency_distribution.jpeg
Hidroweb/Figures/rmse_climate_normal_vs_gridded_data_agg_months_1961_1990.jpeg
Hidroweb/Figures/station_distribution_net_years_of_activity_pt.jpeg
Hidroweb/Figures/stations_by_agency.jpeg
Hidroweb/Figures/stations_by_state_en_1961_2020.jpeg
Hidroweb/Figures/stations_by_state_geobr_pt.jpeg
Hidroweb/Figures/stations_by_year_1920_2022_pt.jpeg
Hidroweb/Figures/stations_by_year_1925_2022.jpeg
Hidroweb/Figures/stations_by_year_1961_2020.jpeg
Hidroweb/Figures/stations_by_year_1975_2022.jpeg
Hidroweb/Figures/stations_by_year_DAEE-SP_last_years.jpeg
Hidroweb/Figures/stations_by_year_DNOCS_last_years.jpeg
Hidroweb/Figures/stations_by_yearAGUASPARANÁ_last_years_pt.jpeg
Hidroweb/Figures/stations_by_yearCOPEL_last_years_pt.jpeg
Hidroweb/Figures/stations_by_yearDAEE-SP_last_years_pt.jpeg
Hidroweb/Figures/stations_by_yearDNOCS_last_years_pt.jpeg
Hidroweb/Figures/stations_by_yearSUDENE_last_years_pt.jpeg
Hidroweb/Quality/INMET/Estacoes_Alta_Qualidade_da_Analise_Visual.xlsx
Hidroweb/Scripts/CEMADEN/Table_info_BR_2022.xlsx
Scripts e Dados/Layout_lindbg.tiff.tif
